//﻿@charset "UTF-8";
//公共方法模块调用
@import "modules/common-modules";

@import "variables/_allinmdV2-variables";

@include normalize(mobile);
html,
body {
    width: 100%;
    min-height: 100%;
    background-color: $indexBackgroundColor;
}

a {
    @include unstyled-link();
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li{
    list-style: none;
}
i{
    font-style: normal;
}
/* 提示微信下载 的弹层*/


.app_download_wx {
    width: 100%;
    height: 100%;
    background: #efeff4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10060;
}

.app_download_wx img {
    width: 100%;
}

.app_download_wx_jump_app {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10039;
}

.app_download_wx_jump_app .bg {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10040;
}

.app_download_wx_jump_app.viewport-small .center {
    width: 80%;
}

.app_download_wx_jump_app.viewport-small .center img {
    width: 100%;
}

.app_download_wx_jump_app .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 10050;
    width:rem(540px);
    height:rem(263px);
}

.app_download_wx_jump_app .center img {
     width:100%;
}

.al-mainInner {
    width: 100%;
    height: 100%;
    background-color: $indexBackgroundColor;
    box-sizing: border-box;
    overflow-x: hidden;
}

.exhibitionImg.authTip{
    background:#fff;
}

.dk-result-pointer-bg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #2F2C2C;
    opacity: 0.9;
    z-index: 19;
}

.dk-result-pointer {
    width: 70%;
    position: fixed;
    top: 0.8em;
    right: 0.4em;
    //background: url("//img50.allinmd.cn/weixin/share.png") no-repeat;
    background: url("//img50.allinmd.cn/pages/index/guide.png") no-repeat;
    background-size: 100%;
    height: 30em;
    z-index: 20;
}

.icon-discoverEntryHot:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: rem(36px);
    height: rem(36px);
    background-image: url('//img50.allinmd.cn/pages/index/icon_hot.png');
    background-size: 100% 100%;
    position: absolute;
    top: rem(-15px);
    right: 0;
    display: none;
}





/*引导关注*/
.guideFellow{
    background: rgba(10,30,43,0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    .erweima{
        width: rem(448px);
        height: rem(1092px);
        //background: url("/images/img50/login/loginV2/care_popup.png") no-repeat;
        margin: 0 auto;
        background-size: contain;
        position: relative;
        img{
            width: 100%;
            //height: 100%;
        }
        i{
            display: inline-block;
            width: rem(73px);
            height: rem(73px);
            background: url("//img50.allinmd.cn/login/loginV2/care_close_popup.png") no-repeat;
            background-size: contain;
            position: absolute;
            right: rem(-20px);
            top: rem(315px);
            z-index: 2;

        }

    }
}


/*iphoneX 适配*/
.al-mainInner{
    @include iphoneX(){
        .al-footerBar{
            padding-bottom:rem(34px);
        }
        .al-scrollShareBtn{
            bottom:rem(200px);
        }
    }
}
